.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:100vh;

}
.App>button{
    margin-top: 20px;
}
.myButton{
    margin-top: 20px !important;
}
